<style>
.bg {
  width: 100%;
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/6066072/pexels-photo-6066072.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_section {
  width: 90%;
}
input {
  width: 100%;
  padding: 15px;
  padding-left: 45px;
  border: 2px solid #fff;
  border-radius: 25px;
  outline: none;
  font-size: 14px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  margin-bottom: 15px;
}
input::placeholder {
  color: white;
}
.email {
  background: url("../images/mail.png") no-repeat 10px 11px;
  background-size: 24px;
}
.password {
  background: url("../images/pass.png") no-repeat 8px 9px;
  background-size: 24px;
}
.username{
  background: url("https://cdn.pixabay.com/photo/2020/07/01/12/58/icon-5359553_1280.png") no-repeat 10px 15px;
  background-size: 24px;

}
.submit {
  letter-spacing: 3px;
  background: #102c39  ;
  color: white;
  border: none;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}
input[type="submit"]:hover {
  background: #102c39;
  border: 2px solid white;
  border-radius: 25px
}
.content {
  justify-content: center;
}
.button {
  background-color: #102c39
  ;
  
}
.background{
  background-image: url("https://images.pexels.com/photos/6066072/pexels-photo-6066072.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");

}
</style>
<head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body class="bg">
    <section>
        <div class="container">
            <div class="pb-3">
                <h1 class="text-light" style="text-align: center;">
                    Hey Admin !!<br>Create an account for user</h1>
            </div>
            <div class="login_section col-12" style=" height: 250px; padding-top: 25px;">
                <form action="/admin/adminHome" method="post" autocomplete="off" onsubmit="check()">
                    <div style="margin-bottom: 15px;">
                         <input type="text" name="Username" class="username" id="username"  placeholder="Username" onkeyup="validateUserName()" />
                        <p class="errormsg" style="color:red ;" id="checkname"></p>
                        <input type="text" name="Email" class="email" id="email" placeholder="Email" onkeyup="validateEmail()" />
                        <p class="errormsg" style="color:red ;" id="checkemail"></p>
                    </div>
                    <div style="margin-bottom: 15px;">
                        <input type="password" name="Password" class="password" id="password" placeholder="Password"
                            onkeyup="validatePass()" />
                        <p class="errormsg" style="color: red;" id="pass">{{error}}</p>
                    </div>
                    <div>
                        <input type="submit" class="btn  submit" value="Add User" />
                    </div>
                </form>
            </div>
        </div>
    </section>

    
     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"crossorigin="anonymous"></script>
 
<script>

    function validateUserName() {
      var Name = document.getElementById("username").value;
         if (Name == "") {
          document.getElementById("checkname").innerHTML = "Required field";
          checkname = false 
          return false;
        } 
          else {
        document.getElementById("checkname").innerHTML = "";
        checkname = true
         return true;
      }
    }
       function validateEmail() {
          var Email =document.getElementById("email").value;
          var mail = /^[a-zA-Z0-9.!#$%&'+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)$/
             if (Email == "") 
             {
              document.getElementById("checkemail").innerHTML = "Required field";
              checkemail = false 
              return false;
            } 
            else if(Email.match(mail)){
             document.getElementById("checkemail").innerHTML = ""; 
             checkemail = true;
             return true;
            }
            else {
            document.getElementById("checkemail").innerHTML = "Please enter valid email"; 
            checkemail = false
            return false;
          }
        }
         function validatePass() {
          var Pass = document.getElementById("password").value; 
          if (Pass == "") {
              document.getElementById("pass").innerHTML = "Required feild"; 
              checkpass =false ;
              return false;
            } 
            else {
              document.getElementById("pass").innerHTML = "";
            checkpass = true; 
            return true;
          }
        } 
        function check() {
          validateUserName();
          validateEmail();
          validatePass(); 
          if ( checkname && checkemail && checkpass)
           { 
             return true;
              } 
           else {
            event.preventDefault();
          }
        }

  </script>

</body>