.bg {
  width: 100%;
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/6066072/pexels-photo-6066072.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_section {
  width: 90%;
}
input {
  width: 100%;
  padding: 15px;
  padding-left: 45px;
  border: 2px solid #fff;
  border-radius: 25px;
  outline: none;
  font-size: 14px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  margin-bottom: 15px;
}
input::placeholder {
  color: white;
}
.email {
  background: url("../images/mail.png") no-repeat 10px 11px;
  background-size: 24px;
}
.password {
  background: url("../images/pass.png") no-repeat 8px 9px;
  background-size: 24px;
}
.username{
  background: url("https://cdn.pixabay.com/photo/2020/07/01/12/58/icon-5359553_1280.png") no-repeat 10px 15px;
  background-size: 24px;

}
.submit {
  letter-spacing: 3px;
  background: #102c39  ;
  color: white;
  border: none;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}
input[type="submit"]:hover {
  background: #102c39;
  border: 2px solid white;
  border-radius: 25px
}
.content {
  justify-content: center;
}
.button {
  background-color: #102c39
  ;
  
}
.background{
  background-image: url("https://images.pexels.com/photos/6066072/pexels-photo-6066072.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");

}